<div class="mensaje">
  <div id="bot"><div class="texto">{{decorador}}</div></div>
  <div id="botMensajeContenedor">
    <div id="decorador"></div>
    <div id="botMensajeCuadro">
      <div class="texto">{{mensaje}}</div>
    </div>
  </div>
</div>
