.mensaje {
  /* Ellipse 3 */
  margin: 20px 0px;
  display: flex;
  #bot {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #000000;
    > .texto {
      color: black;
      margin: 0px;
    }
  }
  #botMensajeContenedor {
    display: flex;
    margin-left: 20px;
    #decorador {
      width: 0;
      height: 0;
      border-right: 14px solid #e5e5e5;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      margin-top: 15px;
    }
    #botMensajeCuadro {
      width: 325px;
      min-height: 64px;
      height: auto;
      background: #e5e5e5;
      border-radius: 15px;
      > .texto {
        color: black;
        height: auto;
        padding: 18px;
      }
      /* Hola! Cesar Miranda */
    }
  }
}
