/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Bungee Outline";
    src: local("Bungee Outline"), url(./assets/fonts/Bungee_Outline/BungeeOutline-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Spinnaker";
    src: local("Spinnaker"), url(./assets/fonts/Spinnaker/Spinnaker-Regular.ttf) format("truetype");
}

.texto {
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
  }

.mt60{
  margin-top: 60px;
}

.mt30 {
  margin-top: 30px;
}
