<div id="contenedor">
  <img src="../assets/img-slider-1.png" id="fondo" class="" alt="" />
  <div id="ladoIzquierdo" class="col-md-6">
    <div id="titulo">INMO BOT</div>
    <img src="../assets/logo.png" id="logo" class="" alt="" />
    <div class="row col-12 col-md-8">
      <div class="col-4">
        <img src="../assets/facebook.png" id="facebook" alt="" />
      </div>
      <div class="col-4">
        <img src="../assets/instagram.png" id="instagram" alt="" />
      </div>
      <div class="col-4">
        <img src="../assets/youtubeIcon.png" id="youtube" alt="" />
      </div>
    </div>
  </div>
  <div id="dialogo" class="col-8 col-md-4">
    <div id="info" class="texto">
      Compartenos tu DNI para poder brindarte los mejores inmuebles
    </div>
    <div id="dni">
      <input class="texto" [(ngModel)]="dni" placeholder="48985632" />
    </div>
      <button id="botonContinuar" (click)="login()">CONTINUAR</button>
  </div>
</div>
