/* Desktop - 1 */
#contenedor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  #fondo {
    width: 100%;
    height: 100%;
  }
  #ladoIzquierdo {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.7);
    /* Inmo Bot */
    #titulo {
      width: 50%;
      margin: 20px auto;
      height: 40%;
      font-family: Bungee Outline;
      font-style: normal;
      font-weight: normal;
      font-size: 104px;
      line-height: 104px;
      color: #000000;
    }

    #logo {
      height: 200px;
      margin: 0 calc(50% - 83.4px);
    }

    .row {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px 16.5%;
      > * {
        text-align: center;
      }
      #facebook {
        width: 70.76px;
        height: 70px;
      }

      #instagram {
        width: 61.81px;
        height: 70px;
      }

      #youtube {
        width: 70px;
        height: 43.82px;
        margin-top: 13px;
      }
    }
  }
}

/* Rectangle 1 */
#dialogo {
  position: absolute;
  min-height: 300px;
  top: calc(50% - 150px);
  right: 8%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  #info {
    margin: 30px 60px;
    color: #000000;
  }
  #dni {
    width: calc(100% - 120px);
    margin: 0 auto 30px;
    input {
      width: 100%;
      background: rgba(218, 218, 218, 0.5);
      border: 1px solid #000000;
      box-sizing: border-box;
      color: #000000;
    }
  }
  #botonContinuar {
    width: calc(100% - 120px);
    margin: 10px auto;
    height: 55px;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 950px) {
  #dialogo {
    .texto,
    #botonContinuar {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  #contenedor #ladoIzquierdo {
    #logo {
      display: none;
    }
    #titulo {
      width: 100%;
      text-align: center;
      height: auto !important;
    }
    .row {
      margin: 10px 0px !important;
    }
  }
  #dialogo {
    right: 15% !important;
  }
}

@media (max-width: 579px) {
  #contenedor #ladoIzquierdo #titulo {
    font-size: 60px;
    line-height: 60px;
  }
  #dialogo {
    #info {
      margin: 10px 20px;
    }
    #dni {
      margin: 30px auto 30px;
    }
    .texto,
    #botonContinuar {
      font-size: 16px;
    }
  }
}
