/* Frame 1 */
#contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  /* Rectangle 1 */
  #toolbar {
    width: 100%;
    height: 80px;
    background: #000000;
    display: flex;
    > .texto {
      margin: 12px;
      color: #ffffff;
      cursor: pointer;
    }
    /* INICIO */
    #inicio {
      margin-left: 40px;
    }

    /* Line 1 */
    #line1 {
      border: 2px solid #ffffff;
      position: absolute;
      width: 82px;
      top: 38px;
      right: 177px;
      transform: rotate(90deg);
    }

    /* SALIR */
    #salir {
      right: 0px;
      position: absolute;
      width: 191px;
    }
  }
  /* Rectangle 2 */
  #chat {
    min-height: 650px;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 32px;
    margin: 30px;
    /* Ellipse 1 */
    #decoradorTitulo {
      width: 18px;
      height: 18px;
      background: #adff00;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 19px;
      border-radius: 10px;
    }
    #inmobot {
      color: black;
      margin: 0 12px 0 0;
    }
    /* Line 2 */
    .separador {
      position: absolute;
      right: 0px;
      width: 100%;
      border-top: 1px solid black;
      box-sizing: content-box;
      height: 0;
      overflow: visible;
    }
    #contenedorMensajes {
      overflow: auto;
      height: 565px;
    }
    #consulta {
      .texto {
        color: black;
        margin: 16px;
      }
      #preguntar {
        border: 0;
        width: calc(100% - 104px);
        font-size: 18px;
      }
      #preguntar:focus {
        outline-width: 0px;
      }

      /* Ellipse 2 */
      #botonSiguiente {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: #000000;
        margin: 14px;
        position: absolute;
        right: 0;

        /* Polygon 1 */
        #triangulo {
          width: 0;
          height: 0;
          border-left: 24px solid #e5e5e5;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          margin: 15px;
        }
      }
    }
  }
  #planos {
    img {
      width: 100%;
    }
    .numero {
      position: absolute;
      width: 60px;
      top: 0;
      right: 0;
      border-radius: 30px;
      background: #000000;
      color: white;
    }
  }
}

@media (max-width: 1115px) {
  #toolbar {
    .texto {
      font-size: 20px;
    }
  }
}
@media (max-width: 950px) {
  #toolbar {
    display: grid !important;
    height: auto !important;
    .texto {
      margin: 0px !important;
      text-align: center;
    }
    #line1 {
      display: none;
    }
    #salir {
      position: relative !important;
      width: 100% !important;
    }
  }
}
