<div id="contenedor">
  <div id="toolbar">
    <div id="inicio" class="texto">INICIO</div>
    <div class="texto">INMOBOT</div>
    <div class="texto">NUEVOS PROYECTOS</div>
    <div class="texto">CONOCENOS</div>
    <div id="line1"></div>
    <div id="salir" class="texto" (click)="salir()">SALIR</div>
  </div>
  <div class="row">
    <div id="chat" class="col-10 col-xl-4">
      <div id="titulo" class="row">
        <div id="decoradorTitulo"></div>
        <div class="texto" id="inmobot">INMOBOT</div>
      </div>
      <div class="separador"></div>
      <div id="contenedorMensajes">
        <app-mensaje
          *ngFor="let mensaje of mensajes"
          [mensaje]="mensaje"
        ></app-mensaje>
      </div>
      <div id="consulta" class="row mt60">
        <div class="separador"></div>
        <input
          [(ngModel)]="preguntar"
          id="preguntar"
          class="texto"
          placeholder="Quisiera saber mas de la opción 1 ..."
        />
        <button id="botonSiguiente" (click)="preguntarClick()">
          <div id="triangulo"></div>
        </button>
      </div>
    </div>
    <div id="planos" class="col-10 col-xl-7 row mt30">
      <div class="col-12 col-md-6">
        <img src="../../assets/plano1.png" />
        <div class="numero">
          <div class="texto">1</div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="../../assets/plano2.png" />
        <div class="numero">
          <div class="texto">2</div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="../../assets/plano3.png" />
        <div class="numero">
          <div class="texto">3</div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="../../assets/plano4.png" />
        <div class="numero">
          <div class="texto">4</div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="../../assets/plano5.png" />
        <div class="numero">
          <div class="texto">5</div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img src="../../assets/plano6.png" />
        <div class="numero">
          <div class="texto">6</div>
        </div>
      </div>
    </div>
  </div>
</div>
